src/test/resources/flows/operation-greet-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:hello-world="http://www.mulesoft.org/schema/mule/hello-world"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/hello-world http://www.mulesoft.org/schema/mule/hello-world/current/mule-hello-world.xsd">

    <context:property-placeholder location="automation-credentials.properties" />

    <hello-world:config name="config-basic" greeting="Good morning">
        <hello-world:basic-connection username="${basic.username}" password="${basic.password}" />
    </hello-world:config>

    <hello-world:config name="config-token">
        <hello-world:token-connection token="${token.token}" secret="${token.secret}" />
    </hello-world:config>
    
    <flow name="greet-basic-flow">
        <hello-world:greet config-ref="config-basic" friend="#[payload]" />
    </flow>

    <flow name="greet-token-flow">
        <hello-world:greet config-ref="config-token" friend="#[payload]" />
    </flow>

</mule>
