src/test/resources/operation-get-stream-data.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:hello-world="http://www.mulesoft.org/schema/mule/hello-world"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/hello-world http://www.mulesoft.org/schema/mule/hello-world/current/mule-hello-world.xsd">

    <flow name="get-stream-flow">
        <hello-world:get-stream-data>
            <hello-world:stream>#[payload]</hello-world:stream>
        </hello-world:get-stream-data>
    </flow>

</mule>
